body{background-color: #D4D2D1;
	margin: 50px;
	font-family: 'Libre Baskerville', serif;}
h1{color:#F74102;
	margin: 20px auto;
	width: 400px;
	text-align: center;
	font-size: 6em;
	font-family: "Courier New";
	font-family: 'Nabla', cursive;
	/*border: 1px solid #000;*/}
h2{border: 10px solid #F3EB6F; 
	background-color: #FFFAAC;
	padding: 30px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
	font-family: 'Nabla', cursive;}
a{color: #206122;
	text-decoration: none;
	font-size: 2em;}
p.attribution{font-size: 0.2em;
	margin: 0 auto;
	width: 400px;
	text-align: center;
	margin-top: 1em;}
a.beginning{
	border-radius: 15px;
	padding: 0.5em;
	font-size: 1em;
	font-style: italic;
	background-color: #ADFFAF;
	display:block;
	margin-top: 10px;
	width: 200px;}
img{
	display: block;
	margin: 0 auto;}
